@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
// @import "compass/css3";
//Colors

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #707070;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$headings-color: $gray-700;
$blue-compassion: #005eb8;
$primary: $blue-compassion !default;
$secondary: #fff !default;
$success: $blue-compassion !default;

// Typography

//font sizes
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 2.6; //41.6px
$h2-font-size: $font-size-base * 2.15; //34.4px
$h3-font-size: $font-size-base * 1.7; //27.2px
$h4-font-size: $font-size-base * 1.25; //20px
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85; //13.6px

$display1-size: 4.0625rem; //65px
$display2-size: 3.4375rem; //55px
$display3-size: 2.8125rem; //45px
$display4-size: 2.5rem; //40px

$font-size-sm: $font-size-base * 0.75;

$font-family-base: 'Montserrat', sans-serif;
$body-color: #333;

body {
  font-family: $font-family-base;
  color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: $font-family-base;
  line-height: 1.2;
  color: #707070;
}

@media (max-width: 768px) {
  .display-1 {
    font-size: 4rem;
  }

  .display-2 {
    font-size: 2.4375rem;
  }

  .display-4 {
    font-size: 2.5rem;
  }
}

@media (max-width: 425px) {
  .display-1 {
    font-size: 3rem;
  }

  .display-4 {
    font-size: 2rem;
  }
}

.bg-compassion {
  background-color: $blue-compassion;
}

section {
  .subheading {
    font-size: $display4-size;
    font-weight: 600;
  }

  .count {
    font-size: $font-size-base * 4.81;
    font-weight: 700;
    color: $blue-compassion;
  }

  .count-text {
    font-size: $h3-font-size;
    color: $blue-compassion;
    // 		font-weight: 700;
  }

  &.blue {
    background-color: $blue-compassion;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    p {
      color: $white;
    }

    a,
    a.button:hover {
      text-decoration: none;
    }
    a:hover {
      color: $white;
      text-decoration: none;
    }
  }
}

a {
  color: $blue-compassion;

  &:hover {
    color: darken($blue-compassion, 20%);
    text-decoration: none !important;
  }
}

button {
  &:hover {
    background-color: darken($blue-compassion, 15%) !important;
  }
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline !important;
}

.blue {
  color: $blue-compassion !important;
}

.white {
  color: $white !important;
}

//GRID

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px !important;
  }
}

//rounded images

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.img-thumbnail {
  height: 200px !important;
}

// buttons

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.btn-primary {
  background-color: $blue-compassion;
  color: $white !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.open > .dropdown-toggle.btn-primary {
  background-color: lighten($blue-compassion, 7.5%);
}

.btn-white:hover {
  background-color: $gray-100 !important;
}

.dropdown-item:active,
.dropdown-item.active,
.dropdown-item:active:focus {
  background-color: lighten($blue-compassion, 25%);
}

.btn-white {
  background-color: $white !important;
  color: $blue-compassion !important;
  border: 1px solid $blue-compassion;
}

$enable-rounded: false;

.project-card {
  &__header {
    display: grid;
    grid-template-columns: 1fr max-content;
    min-height: 3.5rem;
    padding: 0.3rem;
    align-items: center;

    &-align-right {
      justify-self: end;
    }

    &-title {
      grid-column-start: span 2;

      // Clamp to 1 line
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;

      h5 {
        font-size: 0.95rem;
      }
    }
  }
  &__body {
    position: relative;
    min-height: 24rem;

    &-description {
      // Clamp to 2 lines
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    &-cta {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1rem;
    }
  }
}
.fund-card {
  text-align: center;
  border: none;
  height: 100%;

  &__header {
    position: relative;
  }

  &__image {
    height: 15rem;
    width: 100%;
    object-fit: cover;
  }

  &__icon {
    height: 120px;
    width: 120px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 60px) !important;
  }

  &__title {
    text-transform: uppercase;
  }

  &__content {
    border: solid 1px $blue-compassion;
    padding: 60px 1rem 1rem;
    height: 100%;
  }
}

.funds {
  position: relative;
  margin-bottom: 2rem;

  &__header-image {
    height: auto;
    min-height: 20rem;
    width: 100%;
  }

  &__header-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    margin: 0;

    background: $white;
    text-transform: uppercase;
    text-align: center;
  }
}

// Header

.masthead {
  position: relative;
  text-align: center;
  color: $gray-300;
  padding: 5rem 0;

  background-image: url('/theme_crowdfunding/static/src/img/head.jpg');
  background-size: cover;
  min-height: 200px;
  @media (min-width: 768px) {
    min-height: 350px;
  }
  @media (min-width: 1200px) {
    min-height: 500px;
  }
}

.masthead h1 {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
}

//footer

footer {
  background-color: $gray-700;
  width: 100%;
  color: $white;

  p {
    font-size: $font-size-sm;
    line-height: 1.5;
  }

  .nav-link {
    padding: 0.5rem 0 !important;
  }
}

.f-logo img {
  margin-bottom: 1rem;
}

//selector language
.lang-selector img:nth-child(-n + 2) {
  padding: 0.5rem;
}

//font awesome

.fa,
.fab,
.far,
.fas {
  &.white {
    color: $white;
  }
}

//nav

#mainNav {
  background-color: $blue-compassion;

  .fa {
    font-size: 1.125rem;
  }
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: darken($blue-compassion, 15%);
}

#mainNav .navbar-brand {
  color: darken($blue-compassion, 50%);
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: $white;
}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 0.75rem;
  letter-spacing: 1px;
  color: white;
}

.nav-link {
  &:link {
    color: $white !important;
    text-transform: uppercase;
  }

  &:hover {
    color: $white !important;
    text-transform: uppercase;
  }

  &:active {
    color: $white !important;
    text-transform: uppercase;
  }
  &:visited {
    color: $white !important;
    text-transform: uppercase;
  }

  font-size: 1.125rem;
  line-height: normal;
}

//CARDS (PROJECT BADGES)

.card {
  border-radius: 0px;

  p {
    margin-bottom: 0;
  }
  .card-text {
    font-size: $font-size-sm;
    color: $gray-700;
  }
}

.card-header {
  background-color: $blue-compassion !important;

  p {
    color: $white;
  }

  .fa,
  .fab,
  .far,
  .fas {
    // 	font-size: $h2-font-size;
    margin-right: 0.2rem !important;
  }

  .card-title {
    text-transform: uppercase;
    color: $white !important;
    margin-bottom: 0;
  }
}

// PROJECT PAGE
.project-hero {
  background: linear-gradient(180deg, $blue-compassion 95%, $white 95%);

  &__image {
    height: 100%;
    min-height: 35vh;
    width: 100%;
    object-fit: cover;
  }

  &__card {
    width: 100%;
    height: 100%;
    min-height: 25rem;

    position: relative;
    padding: 1rem;
  }

  &__card-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
  }

  &__card-share-text {
    font-size: 0.85rem;
    color: $blue-compassion;
  }

  &__card-share-icons {
    font-size: 1.6rem;
    .fa {
      margin: 5px !important;
    }
  }
}

.hero-title {
  font-size: $display2-size;
  font-weight: 700;
  color: $white;

  padding-top: 5rem;
  padding-bottom: 2rem;
}

.goal-progress {
  &__text-tile {
    display: flex;
    align-items: center;
    text-align: left !important;
  }

  &__icon {
    margin-right: 10px;
    height: 30px;
    width: 30px;
  }

  &__bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 0.5rem;
    align-items: center;

    .progress {
      width: 100%;
      height: 10px;
      margin-right: 10px;
      border-radius: 0px;
    }
  }
}

.project-content {
  &__owner {
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 20px;
    }

    h5 {
      text-transform: uppercase;
    }
  }
}

.impact-tile {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;

  padding: 1rem;
  margin: 1rem 0;
  line-height: 1.2;

  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

    grid-row: span 2;
  }

  .text--bold {
    align-self: end;
  }

  &--grey {
    background-color: $gray-200;
  }

  &--blue {
    background-color: lighten($blue-compassion, 50%);
  }

  &--empty {
    border: 1px dashed $blue-compassion;
    text-align: center;
    padding: 1rem;
  }
}

.homepage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.participants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;

  &__card {
    border: 0;
    border-bottom: 1px solid $gray-400;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }

  &__image {
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 100%;
  }

  &__name {
    color: $blue-compassion;
    margin: 1rem 0;
    text-align: center;
    font-weight: 700;
  }

  &__content {
    padding: 1rem;
  }
}

.donation-type {
  background-color: $blue-compassion;

  &__card-icon {
    height: 120px;
    width: 120px;
    margin: 1rem auto;
  }

  &__project-card-image {
    height: 12rem;
    object-fit: cover;
  }
}

.donation-form-amount {
  background: linear-gradient(180deg, $blue-compassion 90%, $white 90%);

  input[type='number'] {
    width: 80%;
    border: 2px solid $blue-compassion;
    border-radius: 4px;
    padding: 0.5rem 1rem;
  }
}

// Selectable cards
.card-input-element + .card:hover {
  cursor: pointer;
}

.card-input-element:checked + .card {
  background-color: lighten($blue-compassion, 50%) !important;
  transition: background-color 0.3s;
}

.fake-btn {
  background-color: $blue-compassion;
  color: $white;
  padding: 0.5rem 1rem;
}

// Fix cms.form checkboxes
.field-boolean {
  width: 100%;

  & input[type='checkbox'] {
    display: inline;
    width: initial;
    height: initial;
    margin-top: 0;
    vertical-align: middle;

    & + .help-block {
      display: inline;
      margin-left: 1rem;
    }
  }
}

// Center an element at the middle of the page
.center-page {
  display: grid;
  place-items: center;
}

// Global styles
.text {
  &--bold {
    color: $gray-700;
    font-weight: 700;
    font-size: 0.9rem;
  }

  &--faded {
    color: $gray-600;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

.card-img-top {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.pagination {
  justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

hr.blue {
  border-top: 1px solid $blue-compassion;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.bg-blue {
  background-color: $blue-compassion !important;
}

.rounded-img {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 125px;
  overflow: hidden;
  border-radius: 50%;
}

.rounded-img img {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.creation-form {
  button {
    margin-right: 1rem;
  }

  .fieldset-description {
    width: 75%;
  }
}

.status_message {
  width: 50%;
  position: fixed;
  top: 50%; // half of width
  left: 25%; // half of height
  z-index: 1;
}

// Bootstrap overrides
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: $blue-compassion;
  border-color: $blue-compassion;
}
