@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap");
// @import "compass/css3";
//Colors

// Color system

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #707070;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$headings-color: $gray-700;
$blue-compassion: #005eb8;
$primary: $blue-compassion;

// Typography

//font sizes
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`

$h1-font-size: $font-size-base * 2.6; //41.6px
$h2-font-size: $font-size-base * 2.15; //34.4px
$h3-font-size: $font-size-base * 1.7; //27.2px
$h4-font-size: $font-size-base * 1.25; //20px
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-base * 0.85; //13.6px

$display1-size: 4.0625rem; //65px
$display2-size: 3.4375rem; //55px
$display3-size: 2.8125rem; //45px
$display4-size: 2.5rem; //40px

$font-size-sm: $font-size-base * 0.75;

$font-family-sans-serif: "Montserrat", sans-serif;
$body-color: #333;

// TODO: Don't apply css globally

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #707070;

  &.blue {
    color: $blue-compassion !important;
  }
}

.bg-compassion {
  background-color: $blue-compassion;
}

section {
  .subheading {
    font-size: $display4-size;
    font-weight: 600;
  }

  .count {
    font-size: $font-size-base * 4.81;
    // 		font-weight: 900;
    color: $blue-compassion;
  }

  .count-text {
    font-size: $h3-font-size;
    color: $blue-compassion;
    // 		font-weight: 700;
  }

  &.blue {
    background-color: $blue-compassion;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    p {
      color: $white;
    }

    a,
    a:hover {
      color: $white;
      text-decoration: underline;
    }
  }
}

a {
  color: $blue-compassion;
//   text-decoration: underline;

  &:hover {
    color: darken($blue-compassion, 20%);
  }
}

.uppercase {
    text-transform: uppercase;
}

//GRID

@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1200px !important;
  }
}

//rounded images

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.img-thumbnail {
  height: 200px !important;
}

// buttons

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 0;
}

.btn-primary {
  background-color: $blue-compassion !important;
  color: $white !important;
}

.btn-white {
  background-color: $white !important;
  color: $blue-compassion !important;
  border: 1px solid $blue-compassion;
}

$enable-rounded: false;

.fund-card {
  text-align: center;

  &__header {
    position: relative;
  }

  &__image {
    height: 15rem;
    width: 100%;
  }

  &__icon {
    height: 120px;
    width: 120px;
    background-color: $blue-compassion;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 60px);
  }

  &__title {
    text-transform: uppercase;
  }

  &__content {
    border: solid 1px $blue-compassion;
    padding: 60px 1rem 1rem;
  }
}

.funds {
  position: relative;
  margin-bottom: 5rem;

  &__header-image {
    height: 500px;
    width: 100%;
  }

  &__header-title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 2rem;
    margin: 0;

    background: $white;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    column-gap: 3rem;
    row-gap: 3rem;
  }
}

//header

header.masthead {
  text-align: center;
  color: $gray-300;
}

header.masthead .intro-text {
  padding-top: 8em;
  padding-bottom: 2em;
}

header.masthead .intro-text h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

header.masthead.image-background {
  background-image: url("/theme_crowdfunding/static/src/img/head.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
 }

//footer

footer {
  background-color: $gray-700;
  width: 100%;
  color: $white;

  p {
    font-size: $font-size-sm;
    line-height: 1.5;
  }

  .nav-link {
    padding: 0.5rem 0 !important;
  }
}

.f-logo img {
  margin-bottom: 1rem;
}

//selector language
.lang-selector img:nth-child(-n + 2) {
  margin-right: 1rem;
}

//font awesome

.fa,
.fab,
.far,
.fas {
  // 	font-size: $h2-font-size;
  margin-right: 1rem !important;

  &.white {
    color: $white;
  }
}

//nav

#mainNav {
  background-color: $blue-compassion;

  .fa {
    font-size: 1.125rem;
  }
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #fed136;
}

#mainNav .navbar-brand {
  color: #fed136;
}

#mainNav .navbar-brand.active,
#mainNav .navbar-brand:active,
#mainNav .navbar-brand:focus,
#mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  padding: 0.75rem;
  letter-spacing: 1px;
  color: white;
}

.nav-link {
  &:link {
    color: $white !important;
    text-transform: uppercase;
  }

  &:hover {
    color: $white !important;
    text-transform: uppercase;
  }

  &:active {
    color: $white !important;
    text-transform: uppercase;
  }
  &:visited {
    color: $white !important;
    text-transform: uppercase;
  }

  font-size: 1.125rem;
  line-height: normal;
}

//CARDS (PROJECT BADGES)

.card {
  border-radius: 0px;

  p {
    margin-bottom: 0;
  }
  .card-text {
    font-size: $font-size-sm;
    color: $gray-700;
  }
}

.card-header {
  background-color: $blue-compassion !important;

  p {
    color: $white;
  }

  .fa,
  .fab,
  .far,
  .fas {
    // 	font-size: $h2-font-size;
    margin-right: 0.2rem !important;
  }

  .card-title {
    text-transform: uppercase;
    color: $white !important;
    margin-bottom: 0;
  }
}

// PROJECT PAGE
.project-hero {
  background: linear-gradient(180deg, $blue-compassion 95%, $white 95%);

  &__title {
    font-size: $display2-size;
    font-weight: 900;
    color: $white;

    padding-top: 10rem;
    padding-bottom: 2rem;
  }

  &__image {
    height: 30rem;
    width: 100%;
    object-fit: cover;
  }

  &__card {
    width: 100%;
    height: 100%;

    position: relative;
    padding: 1rem;
  }

  &__card-content {
    height: 100%;
  }

  &__card-cta {
    position: absolute;
    bottom: 0;
  }

  &__card-share-text {
    font-size: 0.9rem;
    color: $blue-compassion;
  }

  &__card-share-icons  {
    .fa {
      margin: 5px !important;
    }
  }
}

.goal-progress {
  &__text-tile {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }
  }

  &__bar {
    display: grid;
    grid-template-columns: 1fr max-content;
    column-gap: 0.5rem;
    align-items: center;

    .progress {
      width: 100%;
      height: 10px;
      margin-right: 10px;
      border-radius: 0px;
    }
  }
}

.project-content {
  &__owner {
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      margin-right: 20px;
    }

    h5 {
      text-transform: uppercase;
    }
  }
}

.impact-tile {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 1rem;

  padding: 1rem;
  margin: 1rem 0;
  line-height: 1.2;

  &__image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

    grid-row: span 2;
  }

  .text--bold {
    align-self: end;
  }

  &--grey {
    background-color: $gray-200;
  }

  &--blue {
    background-color: lighten($blue-compassion, 50%);
  }

  &--empty {
    border: 1px dashed $blue-compassion;
    text-align: center;
    padding: 1rem;
  }
}

.homepage {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

.participants {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;

  &__card {
    border: 1px solid $gray-400;
  }

  &__image {
    height: 10rem;
    object-fit: cover;
  }

  &__name {
    color: $blue-compassion;
    margin: 1rem 0;
    text-align: center;
    font-weight: 700;
  }

  &__content {
    padding: 1rem;
  }
}

.donation-type {
    background-color: $blue-compassion;

    &__title {
        font-size: $display2-size;
        font-weight: 900;
        color: $white;

        padding-top: 10rem;
        padding-bottom: 2rem;
    }

    &__card-icon {
        height: 120px;
        width: 120px;
        background-color: $blue-compassion;
        border-radius: 50%;
        margin: 2rem auto;
    }

    &__project-card-image {
        height: 15rem;
        object-fit: cover;
    }
}


// Selectable cards
.card-input-element+.card:hover {
    cursor: pointer;
}

.card-input-element:checked+.card {
    background-color: lighten($blue-compassion, 50%) !important;
    transition: background-color .3s;
}

.fake-btn {
    background-color: $blue-compassion;
    color: $white;
    padding: 0.5rem 1rem;
}
  

// Global styles
.text {
  &--bold {
    color: $gray-700;
    font-weight: 700;
    font-size: 1.1rem;
  }

  &--faded {
    color: $gray-600;
    font-weight: 400;
    font-size: 0.8rem;
  }
}

// progress bar
.progress {
    &-bar {
        background-color: $blue-compassion !important;
    }
}

.pagination {
   justify-content: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}




$complete: #2ECC71;
$active: #3498DB;
$mute: #DFE3E4;

.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: darken($mute, 33%);
  background-color: #dee2e6;

  > li {
    position: relative;
    display: table-cell;
    text-align: center;
    font-size: 0.8em;

    &:before {
      content: attr(data-step);
      display: block;
      margin: 0 auto;
      background: #0B0B0B;
      width: 3em;
      height: 3em;
      text-align: center; //IE8 doesn't inherit this style
      margin-bottom: 0.25em;
      line-height: 3em;
      border-radius: 100%;
      position: relative;
      z-index: 1000;
    }
    &:after {
      content: '';
      position: absolute;
      display: block;
      background: $mute;
      width: 100%;
      height: 0.5em;
      top: 1.25em;
      left: 50%;
      margin-left: 1.5em\9;
      z-index: -1;
    }
    &:last-child:after {
      display: none;
    }
    &.is-complete {
      color: $complete;

      &:before,
      &:after {
        color: #FFF;
        background: $complete;
      }
    }
    &.is-active {
      color: $active;

      &:before {
        color: #FFF;
        background: $active;
      }
    }
  }
}
  /**
   * Needed for IE8
   */
  .progress__last:after {
    display: none!important;
  }

  /**
   * Size Extensions
   */
  .progress--medium {
    font-size: 1.5em;
  }
  .progress--large {
    font-size: 2em;
  }

/**
 * Some Generic Stylings
 */
*, *:after, *:before {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 1.5em;
}
.progress {
  margin-bottom: 3em;
}
a {
  color: $active;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}