/* Fine display of event dates in the right column */
.event_compassion .dates_container {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.event_compassion h2 {text-transform: uppercase}
.event_compassion .dates_text {
    display: inline-block;
    width: 95px;
}
.event_compassion .same-line {
    white-space: nowrap;
}

/* Fine display of barometer */
.event_compassion .project_donations_total {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 2px;
}
.event_barometer_yellow {
    background-color: #e6b414;
    height: 20px;
}

/* Class for blue background sections */
.compassion_background_blue {
    background-color: #0054a6;
}

.compassion_background_blue_transparent_90 {
    background-color: rgba(0, 72, 151, 0.9);
}

/* Classes for donation or registration success page */
.donation_success h1 {
    font-size: 50px;
    line-height: 50px;
}

.donation_success .thank_you_container {
    margin-bottom: 20px;
    color: black;
}

@media(min-width: 1050px) {
    .donation_success h1 {
        font-size: 70px;
        line-height: 70px;
    }
}

/* Make current step in breadcrumb blue */
.breadcrumb > .active {
    color: #004897;
}
.breadcrumb > .done {
    color: #aaaaaa;
}
