
#compassion_event_participants {
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: -20px;
}
#compassion_event_participants .participants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
#compassion_event_participants .participant_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 275px;
    height: 300px;
    margin: 8px;
}

#compassion_event_participants .participants_title {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

#compassion_event_participants .event_no_participant {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

#compassion_event_participants .participant_image {
    width: 100%;
    height: 175px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#compassion_event_participants .participant_details_link {
    position: relative;
    padding: 10px;
}

#compassion_event_participants .sport_icon_container {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
#participants_details .sport_icon {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
#compassion_event_participants .participant_card .name {
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-weight: bold;
}
#compassion_event_participants .participant_card .amount_raised {
    color: #555555;
    text-align: center;
}
#compassion_event_participants .participant_card a {
    text-decoration: none;
}

#compassion_event_participants .participant_card .details {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    height: 125px;
    animation-duration: 0.5s;
}

#compassion_event_participants .participant_card .details_text {
    font-size: 16px;
    color: white;
}

#compassion_event_participants .participant_details_container .sport_icon {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

@keyframes show_details_button {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes hide_details_button {
    from {opacity: 1;}
    to {opacity: 0;}
}
