/* Rules for participant details page */

#participants_details .participant_header {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

#participants_details .participant_header_text {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}

#participants_details .participant_image {
    width: 450px;
    height: auto;
    max-width: 100%;
}

#participants_details .card_container {
    display: flex;
    justify-content: center
}

#participants_details .site_title {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 34px;
}

#participants_details .complete_name {
    font-weight: bold;
    font-size: 18px;
}

/* Participant page custom barometer classes */
.participant-progress-amount {
    position: absolute;
    right: 22px;
    font-weight: bold;
}

.position-relative {
    position: relative;
}
