language: python
sudo: required
cache:
  apt: true
  directories:
    - $HOME/.cache/pip

python:
  - "2.7"

addons:
  apt:
    packages:
      - expect-dev  # provides unbuffer utility
      - python-lxml  # because pip installation is slow
      - python-simplejson
      - python-serial
      - python-yaml
      - python-cups
      - python-mysqldb
      - python-tk
    # OpenCV requirements packages
      - zbar-tools
      - python-zbar

env:
  global:
  - VERSION="10.0" TESTS="0" LINT_CHECK="0" TRANSIFEX="0"
  - PHANTOMJS_VERSION="latest"
  # The above line controls the PhantomJS version that is used for JS testing.
  #   It is not necessary to include this value unless you are altering the default.
  #   Use `OS` to skip the PhantomJS upgrade & use the system version instead.

  matrix:
  - LINT_CHECK="1"
  - TESTS="1" ODOO_REPO="odoo/odoo" EXCLUDE="pgsql_auto_backup"


virtualenv:
  system_site_packages: true

services:
  - postgresql

install:
  - pip install -r requirements.txt
  - git clone --depth=1 https://github.com/OCA/maintainer-quality-tools.git ${HOME}/maintainer-quality-tools
  - export PATH=${HOME}/maintainer-quality-tools/travis:${PATH}
  - travis_install_nightly

before_script:
  - sudo apt-get update
  - sudo apt-get autoremove postgis*
  - sudo apt-get autoremove postgresql*
  - sudo apt-get install postgresql-9.3-postgis-2.1
  - sudo apt-get install python-opencv
  - sudo dpkg -L python-opencv
  - psql -U postgres -c "create extension postgis"
  - psql -U postgres -c "create extension postgis_topology"

script:
  - travis_run_tests

after_success:
  - travis_after_tests_success
