Babel
bs4
detectlanguage
firebase_admin
geojson
jwt
matplotlib
mysqlclient
odoo-sphinx-autodoc
git+git://github.com/OCA/openupgradelib
opencv-python
opencv-contrib-python
pandas
pdf2image
pdfminer
phonenumbers
py-Asterisk
pyminizip
PyPDF2
pyquery
python-coveralls
python-magic
pysftp
pysmb
pytz
pyzbar
pypng
pyqrcode
regex
requests
Shapely
simplejson
sphinx
sphinx_bootstrap_theme
sphinx-intl
timezonefinder
unidecode
wand
PyMuPDF
boxdetect
fintech