Babel
bs4
firebase_admin
geojson
jwt
mysqlclient
odoo-sphinx-autodoc
git+https://github.com/OCA/openupgradelib
git+https://github.com/pfpayments/python-sdk
opencv-python
opencv-contrib-python
pandas
pdf2image
pdfminer
phonenumbers
py-Asterisk
pyminizip
PyPDF2
pyquery
python-coveralls
python-magic
pysftp
pysmb
pytz
pyzbar
pypng
pyqrcode
regex
requests
reportlab==3.6.*
Shapely
simplejson
sphinx
sphinx_bootstrap_theme
sphinx-intl
timezonefinder
unidecode
wand
PyMuPDF
fintech