.event_details .sports_icons td {
    padding-left: 5px;
    padding-right: 5px;
}
.distance_km {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
}
.sport_icon {
    background-color: rgba(255,255,255,0.7);
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.dates_container .sport_icon {
    border-radius: 1px;
}

.sport_icon img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    left: 5px;
}

#footer_muskathlon ~ #main_footer {
    display: none !important;
}

#footer_muskathlon img {
    max-width: 100%;
    max-height: 75px;
    display: inline-block;
}

#footer_muskathlon {
    margin-bottom: -20px;
    display: block;
    border-top: solid 3px #CD171E;
    padding: 12px;
}

.main_container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.center-text {
    text-align: center;
}

.btn-muskathlon, .btn-muskathlon:hover, .btn-muskathlon:disabled {
    background-color: #CD171E;
    border-color: #CD171E;
}

.progress-amount {
    position: absolute;
    right: 22px;
    font-weight: bold;
}

.participant_details_buttons_container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.space_top {
    margin-top: 30px;
}

.href_muskathlon {
    color: #CD171E;
    text-decoration: underline;
}

.muskathlon_background_red {
    background-color: #CD171E;
}
.muskathlon_background_transparent_90 {
    background-color: rgba(205,23,30,0.9);
}

#muskathlon_details .muskathlon_sport_icon {
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    margin-top: -8px;
    padding-top: 3px;
}

#muskathlon_details .muskathlon_space_bottom {
    height: 50px;
    background-color: #CD171E;
    z-index:1
}

.hidden {
    display: none;
}

#muskathlon_details .sport_icon {
    height: 40px;
}

#muskathlon_details .sport_icon.walk {
    height: 38px;
}

#muskathlon_details .sports_title {
   margin-top: 20px;
}

.blue-section {
    background-color: #004897;
    color: white;
}

#my_muskathlon .flyer_preview {
    width:100%;
    text-align: center;
}

#my_muskathlon .row {
    padding: 20px 0;
}

#my_muskathlon .my_donations {
    margin: 40px 0;
}

#my_muskathlon .cms_form_wrapper {
    margin-bottom: 40px;
}

/* Modal flyer in fullscreen */
@media only screen and (min-width: 1200px) {
    #modal_flyer .modal-dialog {
      width: 80%;
      margin: auto;
    }

    #my_muskathlon .row {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 992px) {
    #my_muskathlon .resources {
        margin-top: 20px;
    }
}

.field-boolean input[type="checkbox"] {
    margin-top: 20px;
    width: initial;
    height: initial;
}
