.event_details .sports_icons td {
    padding-left: 5px;
    padding-right: 5px;
}
.distance_km {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
}
#muskathlon_participants {
    margin-top: 10px;
    background-color: #CD171E;
    overflow: hidden;
    padding-bottom: 50px;
    margin-bottom: -20px;
}
.participants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.participant_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 275px;
    height: 300px;
    margin: 8px;
}
.sport_icon {
    background-color: rgba(255,255,255,0.7);
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

.dates_container .sport_icon {
    border-radius: 1px;
}

.sport_icon img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    left: 5px;
}
#muskathlon_participants .sport_icon_container {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.participant_card .name {
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-weight: bold;
}
.participant_card .amount_raised {
    color: #555555;
    text-align: center;
}
.participant_card a {
    text-decoration: none;
}

@keyframes show_details_button {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes hide_details_button {
    from {opacity: 1;}
    to {opacity: 0;}
}

.participant_card .details {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    position: absolute;
    width: 100%;
    top: -10px;
    left: 0px;
    opacity: 0;
    background-color: rgba(205,23,30,0.9);
    height: 125px;
    animation-duration: 0.5s;
}

.participant_card .details_text {
    font-size: 16px;
    color: white;
}

.participant_details_container .sport_icon {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#footer_muskathlon ~ #main_footer {
    display: none !important;
}

#footer_muskathlon img {
    max-width: 100%;
    max-height: 75px;
    display: inline-block;
}

#footer_muskathlon {
    margin-bottom: -20px;
    display: block;
    border-top: solid 3px #CD171E;
    padding: 12px;
}

.muskathlon_participant_image {
    width: 450px;
    height: auto;
    max-width: 100%;
}

.main_container {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}

#participants_details .participant_image_container {
    position: relative;
    margin-bottom: 50px;
}

#participants_details .participant_image {
    background-color: #CD171E;
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}

#participants_details .participant_image_text {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 35px;
}

#participants_details .card_container {
    display: flex;
    justify-content: center
}

.position-relative {
    position: relative;
}

.center-text {
    text-align: center;
}

.btn-muskathlon {
    background-color: #CD171E;
}

#participants_details .site_title {
    margin-top: 0px;
    margin-bottom: 8px;
    font-size: 34px;
}

#participants_details .complete_name_container {
    margin-top: 30px;
    margin-bottom: 8px;
}

#participants_details .complete_name {
    font-weight: bold;
    font-size: 18px;
}

.progress {
    margin-bottom: 5px;
    border-radius: 0px;
    height: 20px;
}

.progress-bar {
    background-color: #e6b414;
}

.progress-amount {
    position: absolute;
    right: 22px;
    font-weight: bold;
}

.participant_details_buttons_container {
    margin-top: 20px;
    margin-bottom: 30px;
}

.space_top {
    margin-top: 30px;
}

.href_muskathlon {
    color: #CD171E;
    text-decoration: underline;
}

#muskathlon_details .banner_container, #my_muskathlon .banner_container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    height: calc(30vw + 120px);
    width: 100%;
    max-height: 400px;
    position: relative;
}

#muskathlon_details .event_name, #my_muskathlon .event_name {
    color: white;
    margin: 10px auto;
    max-width: 90%;
}

#muskathlon_details .banner_text_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background-color: #CD171E;
}

#my_muskathlon .banner_text_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    background-color: #004897;
}

#muskathlon_details .event_public_description {
    margin-bottom: 20px;
}

#muskathlon_details .dates_container {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}

#muskathlon_details .dates_text {
    display: inline-block;
    width: 95px;
}

#muskathlon_details .muskathlon_sport_icon {
    background-color: rgba(255, 255, 255, 0.7);
    height: 40px;
    width: 40px;
    margin-top: -8px;
    padding-top: 3px;
}

#muskathlon_details .project_donations_total {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 2px;
}

#muskathlon_details .participants_title {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

#muskathlon_details .muskathlon_no_participant {
    text-align: center;
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

#muskathlon_details .participant_image {
    width: 100%;
    height: 175px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

#muskathlon_details .participant_details_link {
    position: relative;
    padding: 10px;
}

#muskathlon_details .muskathlon_space_bottom {
    height: 50px;
    background-color: #CD171E;
    z-index:1
}

.hidden {
    display: none;
}

.same-line {
    white-space: nowrap;
}

#muskathlon_details .sport_icon {
    height: 40px;
}

#muskathlon_details .sport_icon.walk {
    height: 38px;
}

#muskathlon_details .muskathlon_register_button {
    margin-top: 16px;
}

#muskathlon_details .sports_title {
   margin-top: 20px;
}

#participants_details .ambassador_description {
    font-size: 15px;
    padding: 10px;
}

#participants_details .progress {
    margin-bottom: 30px;
}

.blue-section {
    background-color: #004897;
    color: white;
}

#my_muskathlon .flyer_preview {
    width:100%;
    text-align: center;
}

#my_muskathlon .row {
    padding: 20px 0;
}

#my_muskathlon .my_donations {
    margin: 40px 0;
}

#my_muskathlon .cms_form_wrapper {
    margin-bottom: 40px;
}

/* Modal flyer in fullscreen */
@media only screen and (min-width: 1200px) {
    #modal_flyer .modal-dialog {
      width: 80%;
      margin: auto;
    }

    #my_muskathlon .row {
        padding: 60px 0;
    }
}

@media only screen and (max-width: 992px) {
    #my_muskathlon .resources {
        margin-top: 20px;
    }
}

.field-boolean input[type="checkbox"] {
    margin-top: 20px;
    width: initial;
    height: initial;
}

.donation_success h1 {
    font-size: 50px;
    line-height: 50px;
}

.donation_success .thank_you_container {
    margin-bottom: 20px;
    color: black;
}

@media(min-width: 1050px) {
    .donation_success h1 {
        font-size: 70px;
        line-height: 70px;
    }
}
