.progress {
    height: 10px;
    margin-bottom: 5px;
    border-radius: 0px;
}
.event_details .sports_icons td {
    padding-left: 5px;
    padding-right: 5px;
}
.distance_km {
    display: inline-block;
    margin-top: 5px;
    font-size: 14px;
}
.participants_container {
    margin-top: 50px;
    background-color: #CD171E;
    overflow: hidden;
    border-bottom: solid 50px #CD171E;
}
.participants {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.participant_card {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 275px;
    height: 300px;
    margin: 8px;
}
.sport_icon {
    background-color: rgba(255,255,255,0.7);
    height: 40px;
    width: 40px;
    border-radius: 25px;
}
.sport_icon img {
    height: 30px;
    width: 30px;
    position: relative;
    top: 5px;
    left: 5px;
}
.participants_container .sport_icon_container {
    height: 40px;
    width: 40px;
    margin-left: auto;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
.participant_card .name {
    text-transform: uppercase;
    text-align: center;
    color: #555555;
    font-weight: bold;
}
.participant_card .amount_raised {
    color: #555555;
    text-align: center;
}
.participant_card a {
    text-decoration: none;
}

@keyframes show_details_button {
    from {bottom: 0px;}
    to {top: -10px;}
}
@keyframes hide_details_button {
    from {top: -10px;}
    to {bottom: 0px;}
}

.participant_card .details {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    position: absolute;
    width: 100%;
    top: 115px;
    left: 0px;
    background-color: rgba(205,23,30,0.9);
    height: 125px;
    animation-duration: 0.45s;
}

.participant_card .details_text {
    font-size: 16px;
}

.participant_details_container .sport_icon {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 40px;
    width: 40px;
}

#footer_muskathlon ~ #main_footer {
    display: none;
}

#footer_muskathlon img {
    max-width: 100%;
    max-height: 75px;
    display: inline-block;
}

#footer_muskathlon {
    display: block;
    border-top: solid 3px #CD171E;
    padding: 12px;
}

.muskathlon_participant_image {
    width: 450px;
    height: auto;
    max-width: 100%;
}